#body-container{
    background-color:white;

}
hr {
    width:80vw;
    display:block;
}


.fa-chevron-circle-up{
    position:fixed;
    bottom:1%;
    right:1%;
    font-size:30px;
    cursor:pointer;
}

#about {
    width:100%;
    margin: 0 auto;
    border-bottom:.25px gray solid;
    box-shadow:0px .25px gray;
    padding: 10px 0px;
    display:grid;
    grid-template-columns: 50% 50%;
}
#about h3{
    text-decoration:underline;
    font-size:35px;
    margin: auto auto;
    text-align:center;
}
#about p{
    font-size:20px;
    max-width: 40vw;
    margin: auto;
    text-align:left;    
}
#contact {
    padding:0;
    padding:none;
    width:100%;


}
#projects {
    padding: 10px 0px;
    width:100%;
    margin: 0 auto;
    border-bottom:.25px gray solid;
    box-shadow:0px .25px gray;
    background-color:rgba(245, 243, 243, 0.904)
}
hr {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top:0;
}

@media (max-width: 1080px) {
    .fa-chevron-circle-up{
        right:2%;
        bottom:2%;
    }
}
@media (max-width: 600px) {
    .fa-chevron-circle-up{
        right:3%;
        bottom:3%;
    }
    #about {
        display:block;
    }
    #about p {
        margin-left: auto;
        margin-right:auto;
        display:block;
        text-align:center;
    }
    #skills {
        display: block;

    }
    #about div {
        display:block;
    }
}