#portfolioHeader {
    text-align:center;
    font-size:35px;
    margin:0 auto;
    text-decoration:underline;
}

#portfolioGrid{
    display:grid;
    grid-template-columns: 100%;
    text-align:center;
    padding:5px 0;
    margin: 0 auto;
}

.portfolioLi{
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top:auto;
    margin-bottom:auto;
    margin:auto;    
    text-align:center;
    height:300px;
}

#portfolioContainer {
    margin-bottom:0px;
    padding-bottom:0px;
}

.extLink{
    text-decoration: none;
    color:inherit;
}

.description{
    padding: 15px 0px;
    text-align:center;
    font-size:25px;
    border-left:1px solid black;    
}

.description img {
    max-width: 200px;
    max-height:200px;
}
.description h3 {
    display:block;
    text-align:center;
    margin:0 auto;
}
.description p {
    font-size:18px;
    text-align:left;
    padding-left:10%;
    padding-right:10%;
}
.description a {
    display:block;
    font-size:18px;
    text-align:center;
    text-decoration: none;
    color:blue;
}
.image{
    margin-top: auto;
    margin-bottom:auto;
    text-align:center;
}

.portfolioImg{
    max-width:350px;
    max-height:350px;
    text-align:center;
}

.projectContainer {
    border:1px black solid;
    box-shadow:1px 2px gray;
    border-radius:2px;
    margin-top:1%;
    margin-bottom:1%;
    width:65vw;
    margin-left:auto;
    margin-right:auto;
}

@media (max-width: 1775px) {
    .portfolioImg{
        max-width:300px;
        max-height:350px;
    }
}

@media (max-width: 1550px) {
    .portfolioImg{
        max-width:250px;
        max-height:350px;
    }
}

@media (max-width: 1280px) {
    .portfolioImg{
        max-width:200px;
        max-height:350px;
    }
    .description img {
        max-width: 200px;
        max-height:100px;
    }
}


@media (max-width: 1030px) {
    .portfolioImg{
        max-width:175px;
        max-height:350px;
    }
    .description img {
        max-width: 200px;
        max-height:100px;
    }
}

@media (max-width: 1030px) {
    .portfolioImg{
        max-width:150px;
        max-height:350px;
    }
    .description {
        padding-top: 50px;
    }
    .description img {
        max-width: 150px;
        max-height:90px;
    }

    .description p{
        font-size:14px;
    }
    .description a{
        font-size:14px;
    }
}

@media (max-width: 768px) {
    .portfolioImg{
        max-width:125px;
        max-height:350px;
    }
    .description img {
        max-width: 125px;
        max-height:90px;
    }

    .description p{
        font-size:14px;
    }
    .description a{
        font-size:14px;
    }
}

@media (max-width: 630px) {
    .portfolioImg{
        max-width:100px;
        max-height:350px;
    }
    .description img {
        max-width: 100px;
        max-height:90px;
    }

    .description p{
        font-size:12px;
    }
    .description a{
        font-size:12px;
    }
}

@media (max-width: 520px) {
    .portfolioImg{
        max-width:90px;
        max-height:350px;
    }
    .description img {
        max-width: 90px;
        max-height:80px;
    }

    .description p{
        font-size:10px;
    }
    .description a{
        font-size:10px;
    }
}

@media (max-width: 460px) {
    .portfolioImg{
        max-width:80px;
        max-height:350px;
    }
    .description img {
        max-width: 90px;
        max-height:80px;
    }

    .description p{
        font-size:10px;
    }
    .description a{
        font-size:10px;
    }
}

@media (max-width: 400px) {
    .portfolioImg{
        max-width:70px;
        max-height:350px;
    }
    .description img {
        max-width: 70px;
        max-height:80px;
    }

    .description p{
        font-size:10px;
    }
    .description a{
        font-size:10px;
    }
}

@media (max-width: 360px) {
    .portfolioImg{
        max-width:55px;
        max-height:350px;
    }
    .description img {
        max-width: 50px;
        max-height:80px;
    }

    .description p{
        font-size:10px;
    }
    .description a{
        font-size:10px;
    }
}