#app-techs{
    width:25vw;
    margin: 0 auto;
    text-align:center;
    padding:0px;
    margin-bottom:10px;
}

#app-techs li{
    border:2px solid white(41, 101, 231);
    background-color:rgba(196, 194, 194, 0.904);
    border-radius:2px;
    list-style-type: none;
    display:inline-block;
    margin: 2px 5px;
    padding:3px;
    color:rgb(41, 101, 231);
    
}
#portfolioHeader {
    text-align:center;
    font-size:35px;
    margin:0 auto;
    text-decoration:underline;
}

#portfolioGrid{
    display:grid;
    grid-template-columns: 100%;
    text-align:center;
    padding:5px 0;
    margin: 0 auto;
}

.portfolioLi{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top:auto;
    margin-bottom:auto;
  
    text-align:center;
    /* height:300px; */
}
.portfolioImg{
    width:90%;
    max-height:350px;
    text-align:center;
}
#portfolioContainer {
    margin-bottom:0px;
    padding-bottom:0px;
}



.description{
    width:100%;
    padding: 15px 0px;
    text-align:center;
    font-size:25px;
    border-left:1px solid black;    
}

.description img {
    max-width: 200px;
    max-height:200px;
}
.description h3 {
    display:block;
    text-align:center;
    margin:0 auto;
}
.description p {
    
    font-size:18px;
    text-align:left;
    padding-left:10%;
    padding-right:10%;
}
.description ul {
    
    font-size:18px;
    text-align:left;
    padding-left:10%;
    padding-right:10%;
}
.description a {
    display:block;
    font-size:18px;
    text-align:center;
    text-decoration: none;
    color:blue;
}
.image{
    margin-top: auto;
    margin-bottom:auto;
    text-align:center;
}



.projectContainer {
    border:1px black solid;
    box-shadow:1px 2px gray;
    border-radius:2px;
    margin-top:1%;
    margin-bottom:1%;
    width:65vw;
    margin-left:auto;
    margin-right:auto;
}

.extLink{
    text-decoration: none;
    color:inherit;
    margin:0 auto;
    text-align:center;
    display:inline;
}




@media (max-width: 1280px) {
    .portfolioLi{
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top:auto;
        margin-bottom:auto;
        margin:auto;    
        text-align:center;
        /* height:300px; */
    }
    .description img {
        max-width: 90%;
    }
}

@media (max-width: 1030px) {
    .portfolioImg{
        width:80%
    }
    .description {
        padding-top: 50px;
    }
 

    .description p{
        font-size:16px;
    }
    .description ul {
        font-size:16px;
    }
    .description a{
        font-size:16px;
    }
}

@media (max-width: 768px) {
    .portfolioImg{
        width:60%;
        margin-top: 1px;
    }
    .description img {
        max-width: 80%;
    }

    .description p{
        font-size:14px;
    }
    .description ul {
        font-size:14px;

    }
    .description a{
        font-size:14px;
    }
    .portfolioLi{
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
        text-align:center;
    }

    .description {
        border-top: black solid 1px;
        border-left:none;
    }
}

@media (max-width: 630px) {
    
    .description ul {
        font-size:12px;
    }
    .description p{
        font-size:12px;
    }
    .description a{
        font-size:12px;
    }
    
}

@media (max-width: 520px) {
    .portfolioImg{
        width:65%;
    }
    .description ul {
        font-size:10px;
    }

    .description p{
        font-size:10px;
    }
    .description a{
        font-size:10px;
    }
}

@media (max-width: 460px) {
    .portfolioImg{
        width:80%;
    }
    .description ul {
        font-size:10px;
    }
    
    .description p{
        font-size:10px;
    }
    .description a{
        font-size:10px;
    }
    #app-techs {
        width:80%;
    }

}

@media (max-width: 420px) {
    .portfolioImg{
        width:90%;

    }

    
    .description ul {
        font-size:10px;
    }
    
    .description p{
        font-size:10px;
    }
    .description a{
        font-size:10px;
    }
    #app-techs {
        width:70%;
    }
    
}

@media (max-width: 375px) {
    .portfolioImg {
        width:90%;
    }
    .description ul {
        font-size:10px;
    }
    .description p{
        font-size:10px;
    }
    .description a{
        font-size:10px;
    }
    

}