#portfolioHeader {
    text-align:center;
    font-size:60px;
    margin:auto auto;
    
    text-decoration:underline;
}
#project-container {
    width:90vw;
    margin:30px auto;
    display:block;
    height:fit-content;
    padding:50px 0px;
    border: 0.1px solid black;
}
#project-header {
    width:100%;
    display:block;
    padding-top:20px;
    text-align:center;
}
#project-header h1 {
    display:block;
    margin: 0 auto;
    text-align:center;
    font-size:50px;
}
#project-header h3 {
    display:block;
    margin: 0 auto;
    text-align:center;
}
#project-image {
    display:block;
    text-align:center;
}
#project-image img {
    width:500px;
    padding-bottom:20px;
    text-align:center;
    margin: auto auto;
}
#project-details {
    display:block;
}
#project-details p {
    text-align:left;
    margin: 0 auto;
    padding: 0px 0px;
    width:1000px;
    font-size:25px;
}
#project-details ul {
    margin: 0 auto;
    padding:0px 0px;
    width:1000px;
    font-size:20px;
}
#technology-list {
    display:block;
    margin:0 auto;
}
#technology-list ul {
    padding:0px;
    text-align:center;
    width:300px;
}
#technology-list li {
    display:inline-block;
    padding:0 5px;
}
#technology-list p {
    text-align:center;
    font-weight:bold;
}
.logo {
    width:75px;
}
.project-links {
    display:block;
    text-align:center;
    margin: 0 auto;
    text-decoration:none;
    color:blue;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bolder;
    font-size:20px;
}

@media (max-width:1440px) {

    #project-details p {
        width:900px;
    }
    #project-details ul {
        width:900px;
    }
    #technology-list ul {
        padding:0px;
        text-align:center;
        width:300px;
    }
}

@media (max-width:1060px) {
    #project-details p {
        width:800px;
    }
    #project-details ul {
        width:700px;
    }
    #project-image img {
        width:400px;
    }
    .logo {
        width:60px;
    }
    #technology-list ul {
        padding:0px;
        text-align:center;
        width:300px;
    }
}

@media (max-width:900px) {
    #project-image img {
        width:350px;
    }
    #project-details p {
        width:350px;
    }
    #project-details ul {
        width:350px;
    }
    .logo {
        width:45px;
    }
    #technology-list ul {
        padding:0px;
        text-align:center;
        width:300px;
    }
}

@media (max-width:780px) {
    #project-image {
        display:block;
        margin: 0 auto;
        padding:0px 0px;
        text-align:center;
        width:500px;
    }
    #project-image img {
        text-align:center;
        margin: 0 auto;
        width:400px;
    }
    #project-details {
        display:block;
        margin: 0 auto;
        width:100%;
    }

    #project-container {
        height:fit-content;
    }
    .project-links {
        display:block;
        padding-right:10px;
        text-align:center;
    }
    #technology-list ul {
        padding:0px;
        text-align:center;
        width:300px;
    }
}

@media (max-width:550px) {
    #project-details p {
        width:275px;
    }
    #project-details ul {
        width:275px;
    }
    #project-image {
        display: none;
    }
    .logo {
        width:75px;
    }
    #technology-list ul {
        padding:0px;
        text-align:center;
        width:300px;
    }
}
@media(max-width:375px) {
    #project-details p {
        width:275px;
    }
    #project-details ul {
        width:250px;
    }
    #technology-list ul {
        padding:0px;
        text-align:center;
        width:300px;
    }
}
@media (max-width:320px) {
    .logo {
        width:50px;
    }
    #project-details {
        font-size:12px;
        width:200px;
        text-align:center;
        margin: 0 auto;
    }
    #project-details ul {
        width:180px;
    }
    #project-details p {
        width:200px;
    }
    #project-details ul {
        width:200px;
    }
    #technology-list ul {
        padding:0px;
        text-align:center;
        width:200px;
    }
}