
#social {
    text-align:center;
    display:block;
    font-size:40px;
    margin:0 auto;
    padding-left:0px;
}
#linkedIn {
    display:inline-block;
}
#github{
    display:inline-block;
}

.fa-linkedin{
    color:black;
    padding-right:5px;
}
.fa-github-square {
    padding-right:5px;
    color:black;
}