#landing {
    /* background: linear-gradient(rgb(16, 106, 196), rgb(81, 161, 241), rgb(132, 186, 240)); */
    /* overflow-y:scroll; */
    text-align:center;
    margin: 25vh auto;
}
.zoomInRight {
    animation-delay:.5s;
}

.zoomInLeft {
    animation-delay:1s;
}

.arrow {
    animation-delay:1.5s;
    font-size:45px;
}
.bounce{
    /* animation-duration:1s; */
    animation-iteration-count: infinite;
}

h1{
    font-size:45px;
}
@media (max-width:420px) {
    .zoomInRight, .zoomInLeft, .arrow, .zoomIn{
        font-size:35px;
    }
    #landing {
        width:90vw;
    }
}
@media (max-width:320px) {
    h1 {
        font-size:30px;
    }
}