.zoomInRight {
    animation-delay:.5s;
}

.zoomInLeft {
    animation-delay:1s;
}

.fa-arrow-down {
    /* animation-duration:1s; */
    animation-iteration-count: infinite;
}

h1{
    font-size:45px;
}

@media (max-width:320px) {
    h1 {
        font-size:35px;
    }
}