#myEmail{
    text-decoration: underline;
    font-weight: bolder;
    border:none;
    background-color:white;
    cursor: pointer;
}

#contactHeader{
    text-align:center;
    font-size:35px;
    padding:0px;
    margin:0px;
    text-decoration:underline;

}
.contactInfo {
    text-align:left;
}
#formContainer {
    width:500px;
    display:block;
    margin: 0 auto;
}
#contact-me-header {
    text-align:center;
    width:400px;
    margin:0 auto;
}
.contact-form {
    width:100%;
    margin: 0 auto;
    display: block;
    padding-top:5px;
    padding-bottom:5px;
}
.form-group {
    display:block;
    margin:0 auto;
    
}

label{
    display: block;
    width:500px;
}

input {
    display:block;
    padding:0px;
    border:1px solid black;
    width:500px;
}

textarea{
    width:500px;
    padding:0px;
    border:1px solid black;
}

#submit-form-button {
    display:block;
    margin: 0 auto;
    text-decoration: none;
    text-align:center;
    color:white;
    background-color:black;
    border-radius:15px;
    padding:0px;
    width:500px;
    border:1px solid black;
    height:30px;
}

#mailTo {
    /* text-decoration:none; */
    color:black;
}

@media (max-width:550px) {

    label {
        width:400px;
        margin: 0 auto;
    }
    input {
        width:400px;
        margin: 0 auto;
    }
    
    textarea{
        width:400px;
        margin: 0 auto;
        display:block;
    }
    #submit-form-button {
        width:400px;
    }
}
@media (max-width: 480px) {
    
    #contact-me-header {
        width:250px;
        font-size:18px;
    }
    label {
        width:250px;
        font-size:15px;
        margin: 0 auto;
    }
    input {
        width:250px;
        margin: 0 auto;
    }
    
    textarea{
        width:250px;
        margin: 0 auto;
    }
    #submit-form-button {
        width:250px;
        margin: 0 auto;
    }
}
@media (max-width:430px) {
    
    #contact-me-header {
        width:200px;
        margin: 0 auto;
    }
    label {
        width:200px;
        margin: 0 auto;
    }
    input {
        width:200px;
        margin: 0 auto;
    }
    
    textarea{
        width:200px;
        margin: 0 auto;
    }
    #submit-form-button {
        width:200px;
        margin: 0 auto;
    }
}
@media (max-width: 390px) {
    #formContainer {
        width:150px;
    }
    #contact-me-header {
        text-align:center;
        width:150px;
        display:block;
    }
    label {
        width:300px;
    }
    input {
        width:150px;
    }
    
    textarea{
        width:150px;
        display:block;
    }
    #submit-form-button {
        width:150px;
        margin-left:0;
    }
}
@media (max-width: 320px) {
    
    #contact-me-header {
        width:125px;
        margin: 0 auto;
        display:block;
        font-size:10px;
    }
    label {
        width:125px;
        display:block;
        margin: 0 auto;
        font-size:10px;

    }
    input {
        width:125px;
        display:block;
        margin: 0 auto;
        font-size:10px;

    }
    
    textarea{
        width:125px;
    }
    #submit-form-button {
        width:125px;
        margin: 0 auto;
    }
}